.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 12px;
  padding: 0.20rem 0.1rem;
}

.searchContainer {
  display: flex;
  align-items: center;
  background-color: #1e293b;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 810px;
  transition: box-shadow 0.2s ease;
}

.searchContainer:hover {
  box-shadow: 0 0 0 2px #38bdf8;
}

.icon {
  color: #94a3b8;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.input {
  background: none;
  border: none;
  outline: none;
  color: #e2e8f0;
  width: 100%;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.input::placeholder {
  color: #94a3b8;
}
