.weatherMain {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 0rem 0.7rem;
  color: #fff;
  margin-bottom: -2rem;
}

.top {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.city {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
}

.condition {
  font-size: 1rem;
  color: #94a3b8;
  margin: 0;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.temperature {
  font-size: 2.5rem;
  font-weight: 700;
  color: #f8fafc;
}

.icon {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  margin-top: -7rem;
}