.weatherMain {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 2rem 0.7rem;
  color: #fff;
}

.top {
  display: flex;
  flex-direction: column;
}

.city {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: -3rem;
}

.condition {
  font-size: 1rem;
  color: #94a3b8;
  margin-top: -1rem;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.temperature {
  font-size: 2.5rem;
  font-weight: 700;
  color: #f8fafc;
  margin-bottom: -6rem;
}

.icon {
  display: flex;
  align-items: center;
  margin-top: -5rem;
}