.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #141c2e;
  border-radius: 16px; 
  padding: 0rem 1rem;
  min-height: 710px;
}

.logo {
  color: #ffd166;
  margin-bottom: 5rem;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.menuItem {
  color: #8ba1c5;
  transition: color 0.3s ease;
  cursor: pointer;
}

.menuItem:hover {
  color: #ffffff;
}

.settings {
  color: #8ba1c5;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: auto;
}

.settings:hover {
  color: #ffffff;
}
