.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100vh;
  background-color: #0b1221;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 1rem; 
  gap: 1rem;
}

.sidebar {
  background-color: #141c2e;
  border-radius: 16px; 
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: none; 
  height: fit-content; 
  width: 80px; 
  margin-top: 0.2rem; 
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

.content {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}